/*-------CSS Reset-------*/

* {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    line-height: 1em;
    scroll-behavior: smooth;
}

/*---------------------Header -----------------*/
header{
    height: 100vh;
    width: 100%;
    background: url(../images/pentagram_bw.png) no-repeat center;
   /* background-position: 25% 25% 25% 25%;
    background-size: cover; */
}

/*--------------------- Body -----------------*/

body{
    width: 100%;
    max-width: 100%;
    margin: auto;
    background: #fafafa;
    color: #333;
    font-family: 'Helvetica', serif;
}

p{
    font-size: 16px;
    line-height: 1.5em;
    margin: 1em 0;
}


section {
    margin: auto;
    width: 80%;
    max-width: 860px}


/*--------------------- Specified Styles -----------------*/

/* #D63234 */

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.5em;}

header h1 {padding-top: 4em}

h1{
    color: #D63234;
    text-align: center;
    padding-top: 1em;
    font-size: 70px;
    font-weight: bolder;
}

header h2{
    color: #D63234;   
}

h2{
    color: #141414;
    text-align: center;
    padding: 1.5em 0em;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}


h3{
    color: #141414;
    text-align: left;
    padding-top: 1em;
    font-size: 1.414em;
    font-weight: bold;
}


/*--------------------- Intro -----------------*/
.intro{
    background-color:#fafafa; 
}
.intro h2{
    text-align: center;
    color: #141414;
}

.intro p{
    color: #141414;
    padding: 1em;
}


/*--------------------- Pentagram -----------------*/

.pentagram{
    background-color: #141414; 
}

.pentagram h2{
    text-align: center;
    color: #fafafa;
}

.pentagram p{
    color: #fafafa;
    padding: 1em;
}

/*--------------------- Work -----------------*/

.work{
    height: auto;
    background-color:#fafafa;
}

.work p{
    text-align: left;
    padding: 16px;
    margin: 0 0 1em 0;
}

.wb {
    background-color: #141414;
}



.wb h3{
    color: #fafafa;
    padding: 1em, 1em, 1em, 0em;
}


.wb p{
    color: #fafafa;
    padding: 1em;
}

.slack{
    background-color: #141414;
}

.slack h3{
    color: #fafafa;
    padding: 1em, 1em, 1em, 0em;
}

.slack p{
    color: #fafafa;
    padding: 1em;
}

.epcot{
    background-color: #fafafa;
}

.epcot h3{
    color: #141414;
    padding: 1em, 1em, 1em, 0em;
}

.epcot p{
    color: #141414;
    padding: 1em;
}
/*--------------------- Competition -----------------*/

.competition{
    background-color: #fafafa;
}

.competition p{
    color: #141414;
    padding: 1em;
}


/*--------------------- Conclusion -----------------*/

.conc{
    background-color: #141414;
}

.conc p{
    color: #fafafa;
    padding: 1em;
}

.conc h2{
    color: #fafafa;
}
/*--------------------- Bibliography -----------------*/

.biblio{
    background-color: #fafafa;
}

.biblio h2{
    color: #141414;
}

.biblio li{
    padding: 1.5em;
    line-height: inherit;
    font-family: 'Arvo', serif;
    font-size: 0.8em;
    list-style: none;
}
/*--------------------- Figure -----------------*/
.black{
    text-align: center;
    font-size: 0.707em;
    padding: 0.5em 0 0.5em 0;
    color: #fafafa;
        
}

.white{
    text-align: center;
    font-size: 0.707em;
    padding: 0.5em 0 0.5em 0;
    color: #141414;
        
}


/*--------------------- FOOTER-----------------*/

footer {
    background-color: #141414;
    text-align: center;
    font-size: 0.707em;
    padding: 2em 0 2em 0;
    color: #fafafa;
        
}

.socials {
	position: relative;
	margin: 0 auto;
}

.socials ul {
	margin: 0;
	padding: 0;}

.socials li {
	margin: 0 15px;
	padding: 0;
	list-style: none; 
	display: inline-block;}
	
.socials a:link {
	border-bottom: none;}

.socials img {
	opacity: 0.5;
    border: none;
    width: 25px;
    height: 25px;
	}
	
 .socials img:hover{
		opacity: 1.0;
		border-bottom: none; 
		transition: all 0.3s ease-in-out; 
				}	



/*----------------- ADDING FLEXBOX ------------------*/
    
.container_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_2{
    display: flex;
}

.container_3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.box_1{
    flex: 4;
    flex-basis: 50px;
   /* padding-left: 50px; */
}

.box_2{
    flex: 1;
  /*  padding-left: 100px; */
}

.box_3{
    flex: 3;
    flex-basis: 50px;
}


.box_4{
    flex: 1;
}

.box_5{
    flex: 4;
    flex-basis: 50px;
   /* padding-left: 50px; */
}

.box_6{
    flex: 1;
    align-content: center;
  /*  padding-left: 100px; */
}


.box_7{
    flex: 4;
    flex-basis: 50px;
   /* padding-left: 50px; */
}

.box_8{
    flex: 1;
    align-content: center;
  /*  padding-left: 100px; */
}

.box_9{
    flex: 4;
    flex-basis: 50px;
   /* padding-left: 50px; */
}

.box_10{
    flex: 1;
    align-content: center;
  /*  padding-left: 100px; */
}

.box_11{
    flex: 2;
    align-content: left;
}

.box_12{
    flex: 2;
    align-content: right;
}

.box_13{
    flex: 2;
    align-content: left;
}

.box_14{
    flex: 1;
    
}

.container_images_1{
    display: flex;
    flex-direction: column;
}

.container_images_2{
    display: flex;
    flex-direction: column;
    
}


.container_images_3{
    display: flex;
    flex-direction: column;
    
}


/*--------------------- Block Quotes -----------------*/

.bq {
    background-color: #444444;
    
}

.bq blockquote{
    font-family: 'Arvo', serif;
    line-height: 1.5em;
    font-size:1.5em;
    color: #fafafa;
    padding: 1em;
    font-style: italic;
}

.bq cite{
    font-family: '', serif;
    font-size: 0.75em;
}


.bq_2 blockquote{
    font-family: 'Arvo', serif;
    line-height: 1.5em;
    font-size:1.5em;
    color: #141414;
    padding: 1em;
    font-style: italic;
}

.bq_2 cite{
    font-family: '', serif;
    font-size: 0.75em;
}


/*--------------------- STYLING LINKS -----------------*/
a {
    color: #D63234;
    text-decoration: none;
}

a:hover {
    color: #D63234;
    border-bottom: 1px dotted;
}


/*------------------- NAVIGATION ------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    margin:0;
    width: 100%;
    background-color: #fff;
    padding: 1em 0;
    font-size: 0.85em;
    box-shadow: 0 0 10px 0 #141414;
    overflow: hidden;
    top: 0;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a:link {
    color: #333;
}

nav a:visited {
    color: #333;
}

nav a:hover {
    border-bottom: none;
    color: #D63234;
    transition: all 0.4s ease-in-out; 
}





/*------------------- IMAGES ------------------*/

img{
    width: 250px;
    height: auto;
    padding-bottom: 10px;
    display: flex;
}

.wb_img{
    width: 220px;
    height: 270px;
    padding-left: 15px;
}

.epcot_img{
    width: 250px;
    height: auto;
    padding: 2.5em 0;
}

.slack_img{
    width: 250px;
    height: auto;
    padding: 1.25em;
}

.paula_img{
    width: 250px;
    height: auto;
}

.home{
    width: 25px;
    height: auto;
    padding: 1.5em 0 1.5em 50em ;
}

